<div :class="$style.container" style="position:relative;">
    <transition enter-active-class="fadeInUp" leave-active-class="fadeOut">
            <div v-if="!isLoaded" class="loaderContainer animated-fast"><img src="@/img/double_loader.svg" alt=""></div>
    </transition>
    <div style="margin-bottom:25px;">
        <div :class="$style.name">Account<br><span :class="$style.email">{{user.email}}</span></div>
    </div>
    <div :class="$style.profileOptions">
        <div @click="edit = 'email'" :class="[$style.profileOption, $style.hover, edit == 'email' ?  $style.active : null]">
            <div :class="$style.panelLabels">
                <div :class="$style.profileOptionTitle">Email</div>
                <div v-if="edit != 'email'" :class="$style.profileOptionValue">{{user.email}}</div>
            </div>
            <v-expand-transition>
            <div v-if="edit == 'email'" :class="$style.editPanel">
                <div :class="$style.editPanelInner">
                    <div :class="$style.editItem">
                        <v-text-field style="max-width:250px;" v-model="user.email" :color="$vuetify.theme.lightGreen"></v-text-field>
                    </div>
                    <div :class="$style.panelBtns">
                        <v-btn @click.stop="edit = ''" small depressed cancel>cancel</v-btn>
                        <v-btn @click.stop="edit = ''" class="orange--text" outline :color="$vuetify.theme.lightGreen" small depressed>Save</v-btn>
                    </div>
                
            </div>
            </div>
            </v-expand-transition>
        </div>
        <div  :class="$style.profileOption">
            <div :class="$style.panelLabels">
                <div :class="$style.profileOptionTitle">Password</div>
                <div :class="$style.profileOptionValue"><v-btn small class="orange--text" :color="'transparent'" depressed>Reset Password</v-btn></div>
            </div>     
            
        </div>
        <div @click="edit = 'address'" :class="[$style.profileOption, $style.hover, edit == 'address' ?  $style.active : null]">
            <div :class="$style.panelLabels">
            <div :class="$style.profileOptionTitle">Address</div>
            <div v-if="edit != 'address'" :class="$style.profileOptionValue">23 Hudson Canyon st. Henderson NV, 89012</div>
            </div>
            <v-expand-transition>
                <div v-if="edit == 'address'" :class="$style.editPanel">
                    <div :class="$style.editPanelInner">
                        
                            <div :class="$style.row">
                                <v-text-field label="Street 1" :color="$vuetify.theme.lightGreen"></v-text-field>
                                <v-text-field style="width:40px; margin-left:10px;" label="Street 2" :color="$vuetify.theme.lightGreen"></v-text-field>
                            </div>
                            <div :class="$style.row">
                                <v-text-field label="City" :color="$vuetify.theme.lightGreen"></v-text-field>
                                <v-text-field label="State" style="width:100px;margin-left:10px;" :color="$vuetify.theme.lightGreen"></v-text-field>
                                <v-text-field label="Zip" style="width:150px;margin-left:10px;" :color="$vuetify.theme.lightGreen"></v-text-field>
                            </div>

                        
                        <div :class="$style.panelBtns">
                            <v-btn @click.stop="edit = ''" small depressed cancel>cancel</v-btn>
                            <v-btn @click.stop="edit = ''" class="orange--text" outline :color="$vuetify.theme.lightGreen" small depressed>Save</v-btn>
                        </div>
                    
                </div>
                </div>
                </v-expand-transition>
        </div>
        <div @click="edit = 'phone'" :class="[$style.profileOption, $style.hover, edit == 'phone' ?  $style.active : null]">
            <div :class="$style.panelLabels">
            <div :class="$style.profileOptionTitle">Phone Number</div>
            <div v-if="edit != 'phone'" :class="$style.profileOptionValue">1+(760) 534-9625</div>
        </div>
        <v-expand-transition>
            <div v-if="edit == 'phone'" :class="$style.editPanel">
                <div :class="$style.editPanelInner">
                    <div :class="$style.editItem">

                            <v-text-field style="max-width:250px;" mask="(###) ###-####" label="Phone" :color="$vuetify.theme.lightGreen"></v-text-field>
                            
                        

                    </div>
                    <div :class="$style.panelBtns">
                        <v-btn @click.stop="edit = ''" small depressed cancel>cancel</v-btn>
                        <v-btn @click.stop="edit = ''" class="orange--text" outline :color="$vuetify.theme.lightGreen" small depressed>Save</v-btn>
                    </div>
                
            </div>
            </div>
            </v-expand-transition>
        </div>
        <!-- <div :class="[$style.profileOption]">
            <div :class="$style.panelLabels">
            <div :class="$style.profileOptionTitle">Created On</div>
            <div :class="$style.profileOptionValue">{{moment().format('MM/DD/YYYY')}}</div>
        </div>
        </div> -->
        <div :class="[$style.profileOption, $style.accountNumber]">
            <div :class="$style.panelLabels">
            <div :class="$style.profileOptionTitle">Account Number</div>
            <div :class="$style.profileOptionValue">01002221212</div>
        </div>
        </div>
        <div :class="[$style.profileOption, $style.deactivate]">
            <div :class="$style.profileOptionTitle"><v-btn small class="red--text" :color="'transparent'" depressed>Deactivate Account</v-btn></div>
           
        </div>
    </div>
    
</div>