.loginForm{
    border-radius: 10px;
    min-width: 340px;
    text-align: center;
    background: #fff;
    box-shadow: 0px -0px 39px -10px #00000050;
    overflow: hidden;
}
.innerForm{
    padding:45px;
}
.loginLogo{
    display:inline-block;
    font-size:20pt; font-weight: 500;
    color:#808080;
    margin-bottom:50px;
    white-space: nowrap;
    text-align: center;
    width:100%;
}
.loginLogo img{
    margin-bottom:15px;
    width:120px
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100vw;
    background:#f8fafb;
    background-image: url('../../img/hexbg2.jpg');
    background-size:cover;
    background-position: center;
}
.loginBtn{
    width:100%;
    border-radius: 3px;
    margin:0 !important;
    margin-top:25px !important;
    
}
.errorMessage{
    background:#e9eaea;
    color:#ff0000;
    font-weight: 300;
    font-size:10pt;
    padding:15px;
    margin-top:10px;
}
.link{
    cursor: pointer;
    color:#fff;
    text-decoration: underline;
}