<div :class="$style.container">
    <div :class="$style.loginForm">
        <div :class="$style.innerForm">
        <div :class="$style.loginLogo">
                <img src="../../img/green_logo.png" alt=""><br><img style="width:170px;" src="../../img/logo.svg" alt=""></div>
        
        <div>
            <div style="display:flex;">
                <v-text-field class="animated-fast fadeInUp" v-model="first_name" style="margin-right:10px;" background-color="transparent" :color="$vuetify.theme.lightGreen" label="First Name"></v-text-field>
                <v-text-field class="animated-fast fadeInUp" v-model="last_name" background-color="transparent" :color="$vuetify.theme.lightGreen" label="Last Name"></v-text-field>
            </div>
            <v-text-field class="animated-fast fadeInUp" v-model="email" background-color="transparent" :color="$vuetify.theme.lightGreen" label="Email"></v-text-field>
            <v-text-field class="animated-fast fadeInUp" v-model="password" background-color="transparent" :color="$vuetify.theme.lightGreen" type="password" label="Password"></v-text-field>
            <v-btn @click="register" :class="$style.loginBtn" dark :color="$vuetify.theme.lightGreen" depressed><span style="text-transform: none">Register</span></v-btn>
            <transition enter-active-class="shake" leave-active-class="fadeOut">
                <div :class="$style.errorMessage" class="animated" v-if="hasError">{{errorMessage}}</div>
            </transition>
        </div>
    </div>
        
    </div>
    
</div>