<div style="position:fixed; top:0;left:0;background:#00000050; display:flex; align-items: center; justify-content: center; height:100vh; width:100vw; z-index: 10000000;">
    <div style="background:#fff; padding:15px; position:relative; overflow:auto; max-height:500px;">
        <img style="width:25px;" v-if="!isLoaded" src="@/img/double_loader.svg" />
        <div v-if="isLoaded" style="margin-bottom:15px; font-weight:bold;">History for {{prop}}</div>
        <div  v-if="isLoaded" style="position: absolute; top:10px; right:10px; font-size:8pt; cursor: pointer;" @click="hide('')">close</div>
        <div v-if="isLoaded" v-for="(item, i) in hist" :key="i" :class="$style.histItem">
            <div :class="$style.histUser"><i class="fal fa-user-circle"></i>&nbsp;{{item.user_name}}</div>
            <div :class="$style.histDate">{{formatDate(item.created_at)}}</div>
            <div v-if="item.action.previous_value != null" :class="$style.histValue">{{format(item.action.previous_value)}} <i class="fal fa-arrow-right"></i> <span :class="$style.newVal">{{format(item.action.new_value)}}</span></div>
        </div>
        
    </div>
</div>