<div class="inner-stage" style="display:flex; padding:0;">
    <transition enter-active-class="fadeInUp" leave-active-class="fadeOut">
        <div v-if="!isLoaded" class="loaderContainer animated-fast"><img src="@/img/double_loader.svg" alt=""></div>
    </transition>
    <div v-if="isLoaded" class="inner-stage">
        <ViewMail v-if="viewMail" :hide="hideViewMail" :activeViewMail="activeViewMail" />
        <ClientHistory :history="history" :prop="activeHistoryProp" v-if="clientHistoryOpen"
            :hide="toggleClientHistory" />

        <div :class="$style.formContainer">

            <div style="display:flex; margin-bottom:10px;">
                <div style="margin-left:auto;">
                    <v-btn  :color="$vuetify.theme.lightGreen" small fab style="margin:0; font-size:12pt;"
                        depressed dark @click="saveEdit"><i class="fal fa-save"></i>
                    </v-btn>
                </div>
            </div>
            <v-form ref="form" lazy-validation>
                <div v-if="model.status == 'Cease and Desist'" :class="$style.ceastAndDesist"><i
                        class="fal fa-exclamation-triangle"></i> Cease And Desist</div>
                <div :class="$style.container2">
                    <div :class="$style.containerTitle">Basic Information</div>
                    <div :class="$style.container3">
                        <div :class="$style['account-item-container']">

                            <div class="account-item">
                                <div class="account-item-label">Name</div>
                                <div class="account-item-value">
                                    <v-text-field @change="changeProp($event, 'first_name')"
                                        :mask="getMask('first_name')" style="margin-right:10px;"
                                        :color="$vuetify.theme.lightGreen" v-model="activeModel['first_name']"
                                        v-validate="getRequired('first_name')"
                                        :error-messages="errors.collect('first_name')" :label="humanize('first_name')"
                                        :data-vv-name="'first_name'" type="float" required>

                                    </v-text-field>

                                    <v-text-field @change="changeProp($event, 'middle_name')" style="margin-right:10px;"
                                        :mask="getMask('middle_name')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['middle_name']" v-validate="getRequired('middle_name')"
                                        :error-messages="errors.collect('middle_name')" :label="humanize('middle_name')"
                                        :data-vv-name="'middle_name'" type="float" required>

                                    </v-text-field>

                                    <v-text-field @change="changeProp($event, 'last_name')" style="margin-right:10px;"
                                        :mask="getMask('last_name')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['last_name']" v-validate="getRequired('last_name')"
                                        :error-messages="errors.collect('last_name')" :label="humanize('last_name')"
                                        :data-vv-name="'last_name'" type="float" required>

                                    </v-text-field>
                                </div>
                            </div>
                            <div class="account-item">
                                <div class="account-item-label">Address</div>
                                <div class="account-item-value" style="flex-wrap: wrap;">
                                    <v-text-field @change="changeProp($event, 'street1')"
                                        :mask="getMask('street1')" style="margin-right:10px;"
                                        :color="$vuetify.theme.lightGreen" v-model="activeModel['street1']"
                                        v-validate="getRequired('street1')"
                                        :error-messages="errors.collect('street1')" :label="humanize('street1')"
                                        :data-vv-name="'street1'" type="float" required>

                                    </v-text-field>

                                    <v-text-field @change="changeProp($event, 'street2')" style="margin-right:10px;"
                                        :mask="getMask('street2')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['street2']" v-validate="getRequired('street2')"
                                        :error-messages="errors.collect('street2')" :label="humanize('street2')"
                                        :data-vv-name="'street2'" type="float" required>

                                    </v-text-field>

                                    <v-text-field @change="changeProp($event, 'city')" style="margin-right:10px;"
                                        :mask="getMask('city')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['city']" v-validate="getRequired('city')"
                                        :error-messages="errors.collect('city')" :label="humanize('city')"
                                        :data-vv-name="'city'" type="float" required>

                                    </v-text-field>
                                    <v-text-field @change="changeProp($event, 'state')" style="margin-right:10px;"
                                        :mask="getMask('state')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['state']" v-validate="getRequired('state')"
                                        :error-messages="errors.collect('state')" :label="humanize('state')"
                                        :data-vv-name="'state'" type="float" required>

                                    </v-text-field>
                                    <v-text-field @change="changeProp($event, 'zip')" style="margin-right:10px;"
                                        :mask="getMask('zip')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['zip']" v-validate="getRequired('zip')"
                                        :error-messages="errors.collect('zip')" :label="humanize('zip')"
                                        :data-vv-name="'zip'" type="float" required>

                                    </v-text-field>
                                </div>
                            </div>
                            <div class="account-item">
                                <div class="account-item-label">Phone</div>
                                <div class="account-item-value">
                                        <v-text-field @change="changeProp($event, 'phone')" style="margin-right:10px;"
                                        :mask="getMask('phone')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['phone']" v-validate="getRequired('phone')"
                                        :error-messages="errors.collect('phone')" :label="humanize('phone')"
                                        :data-vv-name="'phone'" type="float" required>

                                    </v-text-field>
                                </div>
                            </div>
                            <div class="account-item">
                                <div class="account-item-label">Cell</div>
                                <div class="account-item-value">
                                        <v-text-field @change="changeProp($event, 'cellphone')" style="margin-right:10px;"
                                        :mask="getMask('cellphone')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['cellphone']" v-validate="getRequired('cellphone')"
                                        :error-messages="errors.collect('cellphone')" :label="humanize('cellphone')"
                                        :data-vv-name="'cellphone'" type="float" required>

                                    </v-text-field>
                                </div>
                            </div>
                            <div class="account-item">
                                <div class="account-item-label">Email</div>
                                <div class="account-item-value">
                                        <v-text-field @change="changeProp($event, 'email')" style="margin-right:10px;"
                                        :mask="getMask('email')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['email']" v-validate="getRequired('email')"
                                        :error-messages="errors.collect('email')" :label="humanize('email')"
                                        :data-vv-name="'email'" type="float" required>

                                    </v-text-field>
                                </div>
                            </div>
                            <div class="account-item">
                                <div class="account-item-label">D.O.B.</div>
                                <div class="account-item-value">
                                        <v-text-field @change="changeProp($event, 'dob')" style="margin-right:10px;"
                                        :mask="getMask('dob')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['dob']" v-validate="getRequired('dob')"
                                        :error-messages="errors.collect('dob')" :label="humanize('dob')"
                                        :data-vv-name="'dob'" type="float" required>

                                    </v-text-field>
                                </div>
                            </div>
                            <div class="account-item">
                                <div class="account-item-label">ssn</div>
                                <div class="account-item-value">
                                        <v-text-field @change="changeProp($event, 'ssn')" style="margin-right:10px;"
                                        :mask="getMask('ssn')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['ssn']" v-validate="getRequired('ssn')"
                                        :error-messages="errors.collect('ssn')" :label="humanize('ssn')"
                                        :data-vv-name="'ssn'" type="float" required>

                                    </v-text-field>
                                </div>
                            </div>




                        </div>
                        <div :class="$style['account-item-container']" style="width:100%;">

                            <div class="account-item">
                                <div class="account-item-label">DL #</div>
                                <div class="account-item-value">
                                        <v-text-field @change="changeProp($event, 'drivers_license_number')" style="margin-right:10px;"
                                        :mask="getMask('drivers_license_number')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['drivers_license_number']" v-validate="getRequired('drivers_license_number')"
                                        :error-messages="errors.collect('drivers_license_number')" :label="humanize('drivers_license_number')"
                                        :data-vv-name="'drivers_license_number'" type="float" required>

                                    </v-text-field>
                                </div>
                            </div>
                            <div class="account-item">
                                <div class="account-item-label">DL state</div>
                                <div class="account-item-value">
                                        <v-text-field @change="changeProp($event, 'drivers_license_state')" style="margin-right:10px;"
                                        :mask="getMask('drivers_license_state')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['drivers_license_state']" v-validate="getRequired('drivers_license_state')"
                                        :error-messages="errors.collect('drivers_license_state')" :label="humanize('drivers_license_state')"
                                        :data-vv-name="'drivers_license_state'" type="float" required>

                                    </v-text-field>
                                </div>
                            </div>
                            <div class="account-item">
                                <div class="account-item-label">return mail</div>
                                <div class="account-item-value">
                                        <v-checkbox  @change="changeProp($event, 'return_mail')" v-model="activeModel['return_mail']"
                            label="Return Mail"></v-checkbox>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
                <div v-if="isAdmin" :class="$style.container2">
                    <div :class="$style.containerTitle">Account Information</div>
                    <div :class="$style.container3">
                        <div :class="$style['account-item-container']">

                            <div class="account-item">
                                <div class="account-item-label">Account #</div>
                                <div class="account-item-value">
                                        <v-text-field @change="changeProp($event, 'account_number')" style="margin-right:10px;"
                                        :mask="getMask('account_number')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['account_number']" v-validate="getRequired('account_number')"
                                        :error-messages="errors.collect('account_number')" :label="humanize('account_number')"
                                        :data-vv-name="'account_number'" type="float" required>

                                    </v-text-field>
                                </div>
                            </div>
                            <div class="account-item">
                                    <div class="account-item-label">Service Address</div>
                                    <div class="account-item-value" style="flex-wrap: wrap;">
                                        <v-text-field @change="changeProp($event, 'service_address_street1')"
                                            :mask="getMask('service_address_street1')" style="margin-right:10px;"
                                            :color="$vuetify.theme.lightGreen" v-model="activeModel['service_address_street1']"
                                            v-validate="getRequired('service_address_street1')"
                                            :error-messages="errors.collect('service_address_street1')" :label="humanize('service_address_street1')"
                                            :data-vv-name="'service_address_street1'" type="float" required>
    
                                        </v-text-field>
    
                                        <v-text-field @change="changeProp($event, 'service_address_street2')" style="margin-right:10px;"
                                            :mask="getMask('service_address_street2')" :color="$vuetify.theme.lightGreen"
                                            v-model="activeModel['service_address_street2']" v-validate="getRequired('service_address_street2')"
                                            :error-messages="errors.collect('service_address_street2')" :label="humanize('service_address_street2')"
                                            :data-vv-name="'service_address_street2'" type="float" required>
    
                                        </v-text-field>
    
                                        <v-text-field @change="changeProp($event, 'service_address_city')" style="margin-right:10px;"
                                            :mask="getMask('service_address_city')" :color="$vuetify.theme.lightGreen"
                                            v-model="activeModel['service_address_city']" v-validate="getRequired('service_address_city')"
                                            :error-messages="errors.collect('service_address_city')" :label="humanize('service_address_city')"
                                            :data-vv-name="'service_address_city'" type="float" required>
    
                                        </v-text-field>
                                        <v-text-field @change="changeProp($event, 'service_address_state')" style="margin-right:10px;"
                                            :mask="getMask('service_address_state')" :color="$vuetify.theme.lightGreen"
                                            v-model="activeModel['service_address_state']" v-validate="getRequired('service_address_state')"
                                            :error-messages="errors.collect('service_address_state')" :label="humanize('service_address_state')"
                                            :data-vv-name="'service_address_state'" type="float" required>
    
                                        </v-text-field>
                                        <v-text-field @change="changeProp($event, 'service_address_zip')" style="margin-right:10px;"
                                            :mask="getMask('service_address_zip')" :color="$vuetify.theme.lightGreen"
                                            v-model="activeModel['service_address_zip']" v-validate="getRequired('service_address_zip')"
                                            :error-messages="errors.collect('service_address_zip')" :label="humanize('service_address_zip')"
                                            :data-vv-name="'service_address_zip'" type="float" required>
    
                                        </v-text-field>
                                    </div>
                                </div>
                            <div class="account-item">
                                <div class="account-item-label">Status</div>
                                <div class="account-item-value">
                                        <v-select @change="changeProp($event, 'status')" 
                                            :color="$vuetify.theme.lightGreen" :label="humanize('status')" v-model="activeModel['status']"
                                            :items="['Attorney Notice','Bankruptcy','Cease and Desist','Deceased','Dispute','Owed','Payment Plan',]">
                                        </v-select>
                                </div>
                            </div>
                            <div class="account-item">
                                <div class="account-item-label">Monthly Payment Amount</div>
                                <div class="account-item-value">
                                        <v-text-field @change="changeProp($event, 'monthly_payment_amount')" style="margin-right:10px;"
                                        :mask="getMask('monthly_payment_amount')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['monthly_payment_amount']" v-validate="getRequired('monthly_payment_amount')"
                                        :error-messages="errors.collect('monthly_payment_amount')" label="monthly_payment_amount"
                                        :data-vv-name="'monthly_payment_amount'" type="float" required>

                                    </v-text-field>
                                </div>
                            </div>
                            <div class="account-item">
                                <div class="account-item-label">Number of Payments</div>
                                <div class="account-item-value">
                                        <v-text-field @change="changeProp($event, 'number_of_payments')" style="margin-right:10px;"
                                        :mask="getMask('number_of_payments')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['number_of_payments']" v-validate="getRequired('number_of_payments')"
                                        :error-messages="errors.collect('number_of_payments')" :label="humanize('number_of_payments')"
                                        :data-vv-name="'number_of_payments'" type="float" required>

                                    </v-text-field>
                                </div>
                            </div>
                            <div class="account-item">
                                <div class="account-item-label">Billing Method</div>
                                <div class="account-item-value">
                                        <v-text-field @change="changeProp($event, 'last_4_cc')" style="margin-right:10px;"
                                        :mask="getMask('last_4_cc')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['last_4_cc']" v-validate="getRequired('last_4_cc')"
                                        :error-messages="errors.collect('last_4_cc')" :label="humanize('last_4_cc')"
                                        :data-vv-name="'last_4_cc'" type="float" required>

                                    </v-text-field>
                                </div>
                            </div>
                            <div class="account-item">
                                <div class="account-item-label">Creditor</div>
                                <div class="account-item-value">
                                        <v-text-field @change="changeProp($event, 'creditor')" style="margin-right:10px;"
                                        :mask="getMask('creditor')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['creditor']" v-validate="getRequired('creditor')"
                                        :error-messages="errors.collect('creditor')" :label="humanize('creditor')"
                                        :data-vv-name="'creditor'" type="float" required>

                                    </v-text-field>
                                </div>
                            </div>
                            <div class="account-item">
                                <div class="account-item-label">Creditors Total Due</div>
                                <div class="account-item-value">
                                        <v-text-field @change="changeProp($event, 'creditors_total_due')" style="margin-right:10px;"
                                        :mask="getMask('creditors_total_due')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['creditors_total_due']" v-validate="getRequired('creditors_total_due')"
                                        :error-messages="errors.collect('creditors_total_due')" label="creditors_total_due"
                                        :data-vv-name="'creditors_total_due'" type="float" required>

                                    </v-text-field>
                                </div>
                            </div>
                            <div class="account-item">
                                <div class="account-item-label">Date of Order</div>
                                <div class="account-item-value">
                                        <v-text-field @change="changeProp($event, 'date_of_order')" style="margin-right:10px;"
                                        :mask="getMask('date_of_order')" :color="$vuetify.theme.lightGreen"
                                        v-model="activeModel['date_of_order']" v-validate="getRequired('date_of_order')"
                                        :error-messages="errors.collect('date_of_order')" :label="humanize('date_of_order')"
                                        :data-vv-name="'date_of_order'" type="float" required>

                                    </v-text-field>
                                </div>
                            </div>
                            <div class="account-item">
                                <div class="account-item-label">Reported to Credit Bureau</div>
                                <div class="account-item-value">
                                        <v-checkbox  @change="changeProp($event, 'reported_to_credit_bureau')" v-model="activeModel['reported_to_credit_bureau']"
                            label="Currently Being Reported to Credit Bureau"></v-checkbox>
                                </div>
                            </div>

                            <div class="account-item">
                                <div class="account-item-label">Paid In Full</div>
                                <div class="account-item-value">
                                        <v-checkbox  @change="changeProp($event, 'paid_in_full')" v-model="activeModel['paid_in_full']"
                                        label="Paid In Full"></v-checkbox>
                                </div>
                            </div>

                            <div class="account-item">
                                    <div class="account-item-label">Products</div>
                                    <div class="account-item-value">
                                            <div :class="$style.creditorContainer" style="margin-bottom:15px;">
                                    
                                                    <div v-if="!productEditing" :class="$style.creditorValue">
                                                        <span :class="$style.productItem" @change="changeProp($event, 'product_1')"
                                                            v-if="activeModel['product_1'] != ''">{{`${activeModel['product_1']}`}}</span>
                                                        <span :class="$style.productItem" @change="changeProp($event, 'product_2')"
                                                            v-if="activeModel['product_2'] != ''">{{`${activeModel['product_2']}`}}</span>
                                                        <span :class="$style.productItem" @change="changeProp($event, 'product_3')"
                                                            v-if="activeModel['product_3'] != ''">{{`${activeModel['product_3']}`}}</span>
                                                        <span :class="$style.productItem" @change="changeProp($event, 'product_4')"
                                                            v-if="activeModel['product_4'] != ''">{{`${activeModel['product_4']}`}}</span>
                                                        <span :class="$style.productItem" @change="changeProp($event, 'product_5')"
                                                            v-if="activeModel['product_5'] != ''">{{`${activeModel['product_5']}`}}</span>
                                                        <span :class="$style.productItem" @change="changeProp($event, 'product_6')"
                                                            v-if="activeModel['product_6'] != ''">{{`${activeModel['product_6']}`}}</span>
                                                        <span :class="$style.productItem" @change="changeProp($event, 'product_7')"
                                                            v-if="activeModel['product_7'] != ''">{{`${activeModel['product_7']}`}}</span>
                                                        <span :class="$style.productItem" @change="changeProp($event, 'product_8')"
                                                            v-if="activeModel['product_8'] != ''">{{`${activeModel['product_8']}`}}</span>
                                                        <span :class="$style.productItem" @change="changeProp($event, 'product_9')"
                                                            v-if="activeModel['product_9'] != ''">{{`${activeModel['product_9']}`}}</span>
                                                        <span :class="$style.productItem" @change="changeProp($event, 'product_10')"
                                                            v-if="activeModel['product_10'] != ''">{{`${activeModel['product_10']}`}}</span>
                                                        <v-btn fab small :color="$vuetify.theme.lightGreen" dark @click="productEditing = true"><i
                                                                class="fal fa-pencil"></i></v-btn>
                                                    </div>
                                                    <div v-if="productEditing" :class="$style.productFields">
                                                        <v-text-field label="Product 1" :color="$vuetify.theme.lightGreen"
                                                            :class="$style.productField" v-model="activeModel['product_1']"></v-text-field>
                                                        <v-text-field label="Product 2" :color="$vuetify.theme.lightGreen"
                                                            :class="$style.productField" v-model="activeModel['product_2']"></v-text-field>
                                                        <v-text-field label="Product 3" :color="$vuetify.theme.lightGreen"
                                                            :class="$style.productField" v-model="activeModel['product_3']"></v-text-field>
                                                        <v-text-field label="Product 4" :color="$vuetify.theme.lightGreen"
                                                            :class="$style.productField" v-model="activeModel['product_4']"></v-text-field>
                                                        <v-text-field label="Product 5" :color="$vuetify.theme.lightGreen"
                                                            :class="$style.productField" v-model="activeModel['product_5']"></v-text-field>
                                                        <v-text-field label="Product 6" :color="$vuetify.theme.lightGreen"
                                                            :class="$style.productField" v-model="activeModel['product_6']"></v-text-field>
                                                        <v-text-field label="Product 7" :color="$vuetify.theme.lightGreen"
                                                            :class="$style.productField" v-model="activeModel['product_7']"></v-text-field>
                                                        <v-text-field label="Product 8" :color="$vuetify.theme.lightGreen"
                                                            :class="$style.productField" v-model="activeModel['product_8']"></v-text-field>
                                                        <v-text-field label="Product 9" :color="$vuetify.theme.lightGreen"
                                                            :class="$style.productField" v-model="activeModel['product_9']"></v-text-field>
                                                        <v-text-field label="Product 10" :color="$vuetify.theme.lightGreen"
                                                            :class="$style.productField" v-model="activeModel['product_10']"></v-text-field>
                                                        <v-btn @click="productEditing = false" dark fab small :color="$vuetify.theme.lightGreen"><i
                                                                class="fal fa-check"></i></v-btn>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            
                            


                        </div>
                    </div>

                </div>
                <!--Basic Information-->
                <!-- <div :class="$style.container2">
                    <div :class="$style.containerTitle">Basic Information</div>
                    <div :class="$style.container">
                        <div v-for="(key, i) in basicInfo" :key="i" :style="{ maxWidth:getWidth(key)}"
                            :class="$style.textField">
                            <v-select @change="changeProp($event, key)" :readonly="!isAdmin" v-if="key == 'status'"
                                :color="$vuetify.theme.lightGreen" :label="humanize(key)" v-model="activeModel[key]"
                                :items="['Attorney Notice','Bankruptcy','Cease and Desist','Deceased','Dispute','New Notice Request','Owed','Paid In Full','Payment Plan','Verified','Payment Plan/CRA']">
                            </v-select>
                            <v-checkbox  @change="changeProp($event, key)" :readonly="!isAdmin"
                                v-else-if="key == 'return_mail'" :value="false" :color="$vuetify.theme.lightGreen"
                                :label="humanize(key)" v-model="activeModel[key]" ></v-checkbox>
                            <v-text-field @change="changeProp($event, key)" :readonly="!isAdmin"
                                v-else-if="numberProps.includes(key)" :mask="getMask(key)"
                                :color="$vuetify.theme.lightGreen" v-model="activeModel[key]"
                                v-validate="getRequired(key)" :error-messages="errors.collect(key)"
                                :label="humanize(key)" :data-vv-name="key" type="float" required>
                                <template v-if="hasHistory.includes(key)" v-slot:append>
                                    <v-tooltip top>
                                        <div><span
                                                style="height:40px;display:flex; align-items: center; justify-content: center;width:150px;"
                                                v-if="!tooltipLoaded"><img src="@/img/spinner_white.svg"
                                                    style="width:15px;"></span><span v-if="tooltipLoaded">Recently
                                                Changed
                                                by {{tooltipNames}}<br>{{format(recentChange)}}</span></div>
                                        <i slot="activator" @mouseenter.stop="getPropHistory(key)"
                                            @click="toggleClientHistory(key)"
                                            :style="{cursor: 'pointer', color: $vuetify.theme.lightGreen}"
                                            class="fal fa-history"></i>
                                    </v-tooltip>
                                </template>
                            </v-text-field>
                           
                                    <v-text-field v-else-if="dateProps.includes(key)" @change="changeProp($event, key)"  :color="$vuetify.theme.lightGreen" v-model="activeModel[key]"
                                        :label="humanize(key)" prepend-icon="event">
                                        <template v-if="hasHistory.includes(key)" v-slot:append>
                                            <v-tooltip top>
                                                <div><span
                                                        style="height:40px;display:flex; align-items: center; justify-content: center;width:150px;"
                                                        v-if="!tooltipLoaded"><img src="@/img/spinner_white.svg"
                                                            style="width:15px;"></span><span
                                                        v-if="tooltipLoaded">Recently
                                                        Changed
                                                        by {{tooltipNames}}<br>{{recentChange}}</span></div>
                                                <i slot="activator" @mouseenter.stop="getPropHistory(key)"
                                                    @click="toggleClientHistory(key)"
                                                    :style="{cursor: 'pointer', color: $vuetify.theme.lightGreen}"
                                                    class="fal fa-history"></i>
                                            </v-tooltip>
                                        </template>
                                    </v-text-field>
                                
                                
                            
                            <v-text-field @change="changeProp($event, key)" :readonly="!isAdmin" v-else
                                :mask="getMask(key)" :color="$vuetify.theme.lightGreen" v-model="activeModel[key]"
                                v-validate="getRequired(key)" :error-messages="errors.collect(key)"
                                :label="humanize(key)" :data-vv-name="key" required>
                                <template v-if="hasHistory.includes(key)" v-slot:append>
                                    <v-tooltip top>
                                        <div><span
                                                style="height:40px;display:flex; align-items: center; justify-content: center;width:150px;"
                                                v-if="!tooltipLoaded"><img src="@/img/spinner_white.svg"
                                                    style="width:15px;"></span><span v-if="tooltipLoaded">Recently
                                                Changed
                                                by {{tooltipNames}}<br>{{format(recentChange)}}</span></div>
                                        <i slot="activator" @mouseenter.stop="getPropHistory(key)"
                                            @click="toggleClientHistory(key)"
                                            :style="{cursor: 'pointer', color: $vuetify.theme.lightGreen}"
                                            class="fal fa-history"></i>
                                    </v-tooltip>
                                </template>
                            </v-text-field>
                        </div>
                        <v-checkbox  @change="changeProp($event, 'reported_to_credit_bureau')" v-model="activeModel['reported_to_credit_bureau']"
                            label="Currently Being Reported to Credit Bureau"></v-checkbox>

                            <v-checkbox  @change="changeProp($event, 'paid_in_full')" v-model="activeModel['paid_in_full']"
                            label="Paid In Full"></v-checkbox>
                    </div>
                </div>
                <div :class="$style.container2">
                    <div :class="$style.containerTitle">Account Information</div>
                    <div :class="$style.container">
                        <div v-for="(key, i) in accountInfo" :key="i" :style="{ maxWidth:getWidth(key)}"
                            :class="$style.textField">
                            <v-text-field @change="changeProp($event, key)" :readonly="!isAdmin"
                                @input="activeModel[key] = Number(activeModel[key])" v-if="numberProps.includes(key)"
                                :mask="getMask(key)" :color="$vuetify.theme.lightGreen" v-model="activeModel[key]"
                                v-validate="getRequired(key)" :error-messages="errors.collect(key)"
                                :label="humanize(key)" :data-vv-name="key" type="number" required>
                                <template v-if="hasHistory.includes(key)" v-slot:append>
                                    <v-tooltip top>
                                        <div><span
                                                style="height:40px;display:flex; align-items: center; justify-content: center;width:150px;"
                                                v-if="!tooltipLoaded"><img src="@/img/spinner_white.svg"
                                                    style="width:15px;"></span><span v-if="tooltipLoaded">Recently
                                                Changed
                                                by {{tooltipNames}}<br>{{format(recentChange)}}</span></div>
                                        <i slot="activator" @mouseenter.stop="getPropHistory(key)"
                                            @click="toggleClientHistory(key)"
                                            :style="{cursor: 'pointer', color: $vuetify.theme.lightGreen}"
                                            class="fal fa-history"></i>
                                    </v-tooltip>
                                </template>
                            </v-text-field>
                            <v-text-field v-else-if="dateProps.includes(key)" @change="changeProp($event, key)"  :color="$vuetify.theme.lightGreen" v-model="activeModel[key]"
                                        :label="humanize(key)" prepend-icon="event">
                                        <template v-if="hasHistory.includes(key)" v-slot:append>
                                            <v-tooltip top>
                                                <div><span
                                                        style="height:40px;display:flex; align-items: center; justify-content: center;width:150px;"
                                                        v-if="!tooltipLoaded"><img src="@/img/spinner_white.svg"
                                                            style="width:15px;"></span><span
                                                        v-if="tooltipLoaded">Recently
                                                        Changed
                                                        by {{tooltipNames}}<br>{{recentChange}}</span></div>
                                                <i slot="activator" @mouseenter.stop="getPropHistory(key)"
                                                    @click="toggleClientHistory(key)"
                                                    :style="{cursor: 'pointer', color: $vuetify.theme.lightGreen}"
                                                    class="fal fa-history"></i>
                                            </v-tooltip>
                                        </template>
                                    </v-text-field>
                            <v-text-field @change="changeProp($event, key)" :readonly="!isAdmin" v-else
                                :mask="getMask(key)" :color="$vuetify.theme.lightGreen" v-model="activeModel[key]"
                                v-validate="getRequired(key)" :error-messages="errors.collect(key)"
                                :label="humanize(key)" :data-vv-name="key" required>
                                <template v-if="hasHistory.includes(key)" v-slot:append>
                                    <v-tooltip top>
                                        <div><span
                                                style="height:40px;display:flex; align-items: center; justify-content: center;width:150px;"
                                                v-if="!tooltipLoaded"><img src="@/img/spinner_white.svg"
                                                    style="width:15px;"></span><span v-if="tooltipLoaded">Recently
                                                Changed
                                                by {{tooltipNames}}<br>{{recentChange}}</span></div>
                                        <i slot="activator" @mouseenter.stop="getPropHistory(key)"
                                            :style="{cursor: 'pointer', color: $vuetify.theme.lightGreen}"
                                            @click="toggleClientHistory(key)" class="fal fa-history"></i>
                                    </v-tooltip>
                                </template>
                            </v-text-field>
                        </div>
                    </div>
                    <div :class="$style.creditorContainer" style="margin-bottom:15px;">
                        <div :class="$style.creditorLabel">Products</div>
                        <div v-if="!productEditing" :class="$style.creditorValue">
                            <span :class="$style.productItem" @change="changeProp($event, 'product_1')"
                                v-if="activeModel['product_1'] != ''">{{`${activeModel['product_1']}`}}</span>
                            <span :class="$style.productItem" @change="changeProp($event, 'product_2')"
                                v-if="activeModel['product_2'] != ''">{{`${activeModel['product_2']}`}}</span>
                            <span :class="$style.productItem" @change="changeProp($event, 'product_3')"
                                v-if="activeModel['product_3'] != ''">{{`${activeModel['product_3']}`}}</span>
                            <span :class="$style.productItem" @change="changeProp($event, 'product_4')"
                                v-if="activeModel['product_4'] != ''">{{`${activeModel['product_4']}`}}</span>
                            <span :class="$style.productItem" @change="changeProp($event, 'product_5')"
                                v-if="activeModel['product_5'] != ''">{{`${activeModel['product_5']}`}}</span>
                            <span :class="$style.productItem" @change="changeProp($event, 'product_6')"
                                v-if="activeModel['product_6'] != ''">{{`${activeModel['product_6']}`}}</span>
                            <span :class="$style.productItem" @change="changeProp($event, 'product_7')"
                                v-if="activeModel['product_7'] != ''">{{`${activeModel['product_7']}`}}</span>
                            <span :class="$style.productItem" @change="changeProp($event, 'product_8')"
                                v-if="activeModel['product_8'] != ''">{{`${activeModel['product_8']}`}}</span>
                            <span :class="$style.productItem" @change="changeProp($event, 'product_9')"
                                v-if="activeModel['product_9'] != ''">{{`${activeModel['product_9']}`}}</span>
                            <span :class="$style.productItem" @change="changeProp($event, 'product_10')"
                                v-if="activeModel['product_10'] != ''">{{`${activeModel['product_10']}`}}</span>
                            <v-btn fab small :color="$vuetify.theme.lightGreen" dark @click="productEditing = true"><i
                                    class="fal fa-pencil"></i></v-btn>
                        </div>
                        <div v-if="productEditing" :class="$style.productFields">
                            <v-text-field label="Product 1" :color="$vuetify.theme.lightGreen"
                                :class="$style.productField" v-model="activeModel['product_1']"></v-text-field>
                            <v-text-field label="Product 2" :color="$vuetify.theme.lightGreen"
                                :class="$style.productField" v-model="activeModel['product_2']"></v-text-field>
                            <v-text-field label="Product 3" :color="$vuetify.theme.lightGreen"
                                :class="$style.productField" v-model="activeModel['product_3']"></v-text-field>
                            <v-text-field label="Product 4" :color="$vuetify.theme.lightGreen"
                                :class="$style.productField" v-model="activeModel['product_4']"></v-text-field>
                            <v-text-field label="Product 5" :color="$vuetify.theme.lightGreen"
                                :class="$style.productField" v-model="activeModel['product_5']"></v-text-field>
                            <v-text-field label="Product 6" :color="$vuetify.theme.lightGreen"
                                :class="$style.productField" v-model="activeModel['product_6']"></v-text-field>
                            <v-text-field label="Product 7" :color="$vuetify.theme.lightGreen"
                                :class="$style.productField" v-model="activeModel['product_7']"></v-text-field>
                            <v-text-field label="Product 8" :color="$vuetify.theme.lightGreen"
                                :class="$style.productField" v-model="activeModel['product_8']"></v-text-field>
                            <v-text-field label="Product 9" :color="$vuetify.theme.lightGreen"
                                :class="$style.productField" v-model="activeModel['product_9']"></v-text-field>
                            <v-text-field label="Product 10" :color="$vuetify.theme.lightGreen"
                                :class="$style.productField" v-model="activeModel['product_10']"></v-text-field>
                            <v-btn @click="productEditing = false" dark fab small :color="$vuetify.theme.lightGreen"><i
                                    class="fal fa-check"></i></v-btn>
                        </div>
                    </div>
                </div>
                -->



            </v-form>
        </div>

    </div>

</div>