.container{    
    width:calc(100% - 250px);
    background:#f8fafb;
    display:flex;
    justify-content: center;
}
.uploadContainer{
    width:100%;
    padding:15px;
}
.loadBar{
    position: relative;
    margin-top:15px;
    margin-bottom:15px;
    width:100%;
    background:#eaeaea;
    border-radius: 100px;
    height:7px;
    overflow: hidden;
    border-radius: 100px;
}
.loadBarInner{
    background:#27ceaa;
    width:100%;
    
    transform:scaleX(0);
    transform-origin: 0%;
    height:100%;
    border-radius: 100px;
}
.tableHeader{
    white-space: nowrap;
    padding:5px 10px;
    background:#f0f5f8;
    border:solid 1px #eaeaea;
    border-right:0px;
    min-width:250px;
}
.uploadTable{
    
}
.uploadContainer{
    
}
.uploadTableContainer{
    overflow-x: auto;
    max-height:700px;
    margin-top:75px;
}
.tableData{
    max-width:200px;
    
    overflow: hidden;
    max-height:100px !important;
    background:#fff;
    border:solid 1px #eaeaea;
}
.btn{
    padding:15px;
    background:#008b4d;
    color:#fff;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    height:45px;
    border-radius: 3px;
    cursor: pointer !important;
    transition:all .3s ease;
    position: relative;
}
.btn input{
    position: absolute;
    cursor: pointer;
}
.btn:hover{
    background:#0ab96a;
}
.preview{
    color:#000;
    background:#fff;
    border:solid 1px #eaeaea;
    border-radius: 4px;
    display:inline-flex;
    padding:0px 15px;
    align-items: center;
    justify-content: center;
    height:45px;
}
.preview i {
    color:#fff;
    background:#008b4d;
    padding:15px;
    height:20px;
    width:20px;
    display:flex;
    align-items: center;
    font-size:12pt;
    
    justify-content: center;
    border-radius: 100px;

}
.desc{
    font-size: 12pt;
    font-weight: bold;
}
.value{
    background:#eaeaea;
    border-radius: 100px;
    padding:7px 15px;
    font-size:12pt;
    font-weight: bold;
    color:#000;
    margin-right:10px;
    display: flex;
    align-items: center;
}
.filterChain{
    background:#477dc3;
    color:#fff;
    padding:5px 15px;
    border-radius: 100px;
    font-size:10pt;
    display:inline-flex;
    margin-right:10px;
}
.changeDate{
    color:#aeaeae;
    font-size: 10pt;
    cursor: pointer;
    margin-left:10px;
}
.changeDate:hover{
    color:#477dc3
}