<div :class="$style.container">
    <div :class="$style.uploadContainer">
        
        <v-tabs color="#f8fafb" v-model="tab">
            <v-tab>Bulk Upload / Update</v-tab>
            <v-tab>Update/Delete By Prop</v-tab>
            <v-tab>Export</v-tab>
            <v-tab @click="getFutureQue(),getAllQues()">Future Que</v-tab>
        </v-tabs>
        <v-tabs-items v-model="tab">
            <v-tab-item :key="0" >
                    <div style="background: #eaeaea; padding:15px; border-radius: 5px; margin-top:15px;">
                            <form @submit.prevent="upload">
                                <div style="position:relative; height:55px; width:100%;">
                                    <div v-if="imageName != 'No Image'" :class="$style.preview" class="image-preview-item"><i class="fa fa-file"></i>
                                        <span style="margin-left:10px;">{{imageName}}</span></div>
                                    <v-btn :color="$vuetify.theme.lightGreen" dark :class="$style.btn" v-show="imageName == 'No Image'">
                                        <input type="text" name="file_name">
                                        <input @change="uploadfile" name="file"
                                            style="opacity:0; width:100%; height:100%; position:absolute;top:0;left:0" type="file">
                                        Upload CSV</v-btn>
                                </div>
                                <!-- %{{loadedProgress * 100}}
                                <div :class="$style.loadBar">
                                    <div ref="loadBar" :class="$style.loadBarInner"></div>
                                </div> -->
                                <v-btn :disabled="file == null" :loading="isUploading" v-if="!isLoaded" type="submit">Next</v-btn>
                                <v-checkbox :color="$vuetify.theme.lightGreen" label="Future" v-model="future"></v-checkbox>
                                <v-btn  @click="confirmUpload" :disabled="included.length == 0" :color="$vuetify.theme.lightGreen" :dark="included.length != 0" :loading="confirmLoading" v-if="isLoaded && !importComplete">Confirm Upload</v-btn>
                                <div v-if="importComplete" style="color:#33b373"><i class="fal fa-check"></i> Import Complete!</div>
                                <div v-if="hasError" style="color:#b33733"><i class="fal fa-times"></i> {{errorMessage}}</div>
                            </form>
                            <!-- <v-btn @click="sendToServer">Click Me</v-btn> -->
                
                        </div>
                        <div v-if="isLoaded && !importComplete" style="display:flex; position: absolute; align-items: center; margin-top:15px;">
                          <v-btn dark :color="$vuetify.theme.lightGreen" small depressed @click="includeAll">Include All</v-btn>
                                <span :class="$style.value">{{length}} Rows, {{size}} bytes</span>  
                                
                                <span :class="$style.value">
                                  
                                    <span v-if="match == null" :class="$style.desc">Inserting: </span>
                                    <span v-if="match != null" :class="$style.desc">Updating:</span>{{length}} Rows,
                                    <span style="max-width:500px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: inline-block;" v-if="included.length > 0">{{included.join(', ')}}</span>
                            </span>
                            
                            </div>
                        <div :class="$style.uploadTableContainer">
                            
                            <div :class="$style.uploadTable">
                                <table>
                                    
                                    <th :class="$style.tableHeader" v-for="(header, index) in columns" :key="index">{{header}}
                                        <v-checkbox style="margin-top:0; height:35px;" v-model="included"  label="Include" :value="header"></v-checkbox>
                                        <v-checkbox style="margin-top:0; height:35px;" :disabled="match != header && match != null" v-model="match" label="Match" :value="header"></v-checkbox>
                                        <v-select :color="$vuetify.theme.lightGreen" :items="dbKeys" hide-details menu-props="auto" v-model="matchTo" single-line v-if="match == header" label="Match To"></v-select>
                                        
                
                                    </th>
                                
                                    <tr :class="$style.tableHeader" v-for="(row, t) in results" :key="t + 'a'">
                                        <td :style="included.indexOf(columns[i]) > -1 ? {opacity:1} : {opacity:.5}" :class="$style.tableData" v-for="(data, i) in Object.keys(row)" :key="i + 'b'">{{row[data]}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
            </v-tab-item>
            <v-tab-item :key="1">
              <v-checkbox label="Delete" v-model="deleteByProp" :color="$vuetify.theme.lightGreen"></v-checkbox>
                <div :style="{background:'#306e90'}" style="display:flex; position:relative; align-items: center; margin-top:15px; padding:15px; padding-top:45px;  border-radius: 4px">
                    <div style="position:absolute; top:15px; left:15px; color:#fff;" class="title">Condition</div>
                    <v-select style="max-width:250px; margin-right:10px;" dark :color="$vuetify.theme.lightGreen" :items="dbKeys" hide-details  v-model="conditionProp"  label="Prop"></v-select>
                    <v-select v-if="!dateProps.includes(conditionProp) && !numberProps.includes(conditionProp)" label="operator" v-model="operator" :color="$vuetify.theme.lightGreen" dark hide-details style="max-width:250px;margin-right:10px;" :items="['contains','equals']"></v-select>
                    <v-select v-if="dateProps.includes(conditionProp)" label="operator" :color="$vuetify.theme.lightGreen" v-model="operator" dark hide-details style="max-width:250px;margin-right:10px;" :items="['after','before','after or on','before or on']"></v-select>
                    <v-select v-if="numberProps.includes(conditionProp)" label="operator" :color="$vuetify.theme.lightGreen" v-model="operator" dark hide-details style="max-width:250px;margin-right:10px;" :items="['greater than','greater than or equal','less than','less than or equal']"></v-select>
                    <div v-if="dateProps.includes(conditionProp)">
                            <v-menu
                            ref="menu"
                            :color="$vuetify.theme.lightGreen"
                            :v-model="menu"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                            >
                            
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                dark
                                hide-details
                                v-model="condition_value"
                                label="date"
                                :color="$vuetify.theme.lightGreen"
                                prepend-icon="event"
                                readonly
                                v-on="on"
                                >
                                </v-text-field>
                            </template>
                            <v-date-picker :color="$vuetify.theme.lightGreen" @change="menu = false " v-model="condition_value" scrollable>
                            </v-date-picker>
                            </v-menu>
                    </div>
                    <v-text-field v-model="condition_value" hide-details dark v-if="!dateProps.includes(conditionProp) && !numberProps.includes(conditionProp)" :color="$vuetify.theme.lightGreen" label="value" style="margin-left:10px; max-width:250px"></v-text-field>
                    <v-text-field v-model="condition_value" hide-details dark v-if="numberProps.includes(conditionProp)" :color="$vuetify.theme.lightGreen" label="value" mask="#########" style="margin-left:10px; max-width:250px"></v-text-field>
                </div>
                <div v-if="!deleteByProp" :style="{background:'#268f95'}" style="display:flex; position: relative; align-items: center; margin-top:15px; padding:15px; padding-top:45px;  border-radius: 4px">
                    <v-select dark style="max-width:250px; margin-right:10px;" :color="$vuetify.theme.lightGreen" :items="dbKeys" hide-details menu-props="auto" v-model="updateProp"  label="Prop to Update"></v-select>
                    <div style="position:absolute; top:15px; left:15px; color:#fff;" class="title">Update</div>
                    <div v-if="dateProps.includes(updateProp)">
                            <v-menu
                            ref="menu2"
                            :color="$vuetify.theme.lightGreen"
                            :v-model="menu2"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                            >
                            
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                hide-details
                                dark
                                v-model="update_value"
                                label="date"
                                :color="$vuetify.theme.lightGreen"
                                prepend-icon="event"
                                readonly
                                v-on="on"
                                >
                                </v-text-field>
                            </template>
                            <v-date-picker :color="$vuetify.theme.lightGreen" @change="menu2 = false " v-model="update_value" scrollable>
                            </v-date-picker>
                            </v-menu>
                    </div>
                    <v-text-field  hide-details dark v-if="!dateProps.includes(updateProp) && !numberProps.includes(updateProp)" v-model="update_value" :color="$vuetify.theme.lightGreen" label="value" style="margin-left:10px; max-width:250px"></v-text-field>
                    <v-text-field  hide-details dark v-if="numberProps.includes(updateProp)" v-model="update_value" :color="$vuetify.theme.lightGreen" label="value" mask="#########" style="margin-left:10px; max-width:250px"></v-text-field>

                </div>
                <v-btn :loading="isUpdating" depressed  style="margin:0px; margin-top:15px; margin-right:10px;" @click="confirmPreview" dark :color="$vuetify.theme.lightGreen">Preview Results</v-btn>
                <v-btn :loading="isUpdating" depressed style="margin:0px; margin-top:15px;" @click="confirmUpdate" dark :color="$vuetify.theme.lightGreen">{{!deleteByProp ? 'Update' : 'Delete'}}</v-btn>
                <div v-if="hasError" style="color:#b33733">{{errorMessage}}</div>
                <div v-if="hasSuccess" style="color:#33b364; margin-top:10px;">{{successMessage}}</div>
                <!-- TABLE FOR PREVIEW RESULTS -->
                
                <v-client-table 
                  :data="previewItems" :columns="previewColumns" :options="{pagination: { dropdown:true }}">
                  <!-- <div v-for="(it,i) in previewColumns" :key="i" style="width:100px;" :style="it == 'account_number' ? 'width:100px': null" :slot="'h__'+it" slot-scope="{row}" >{{row[it]}}</div> -->
                  
                  <div v-for="(it,i) in previewColumns" :key="i"  :slot="it" slot-scope="{row}" ><div v-if="it == updateProp">{{row[it]}} <i class="fal fa-arrow-right"></i> {{update_value}}</div> <div v-else>{{row[it]}}</div></div>
              </v-client-table>
                
            </v-tab-item>
            <v-tab-item :key="2">
                      <div style="padding:15px; max-width:600px;">
                        
                        <v-select
                          v-model="filter"
                          item-text="label"
                          item-value="value"
                          @change="getDataType"
                          :items="filterColumns"
                          label="Column"
                        ></v-select>
                        <div style="display:flex;" v-if="activeDataType == 'number'">
                          <v-select
                            v-model="filterOperator"
                            label="Operator"
                            :items="['between', 'greater than','less than']"
                          ></v-select>
                          <v-text-field
                            v-if="filterOperator == 'between'"
                            style="margin-left:10px;"
                            label="min"
                            v-model="filterMin"
                          ></v-text-field>
                          <v-text-field
                            v-if="filterOperator == 'between'"
                            style="margin-left:10px;"
                            label="max"
                            v-model="filterMax"
                          ></v-text-field>
                          <v-text-field
                            v-if="filterOperator != 'between'"
                            style="margin-left:10px;"
                            label="value"
                            v-model="filterValue"
                          ></v-text-field>
                        </div>
                        <div style="display:flex;" v-if="activeDataType == 'string'">
                          <v-select v-model="filterOperator" label="Operator" :items="['contains', 'excludes']"></v-select>
                          <v-text-field style="margin-left:10px;" label="Value" v-model="filterValue"></v-text-field>
                        </div>
                        <div style="display:flex;" v-if="activeDataType == 'bool'">
                          <v-select v-model="filterOperator" label="Operator" :items="['equals']"></v-select>
                          <v-select v-model="filterValue" label="Value" :items="['true','false']"></v-select>
                        </div>
                        <div style="display:flex;" v-if="activeDataType == 'date'">
                          <v-select v-model="filterOperator" label="Operator" :items="['before', 'after']"></v-select>
                          <v-menu
                            v-model="pickerOpen"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                          >
                            <template v-slot:activator="{ on }">
                              <v-text-field
                                v-model="filterStartDate"
                                label="Payment Start Date"
                                style="max-width:200px;"
                                prepend-icon="event"
                                readonly
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker v-model="filterStartDate" light @input="pickerOpen = false"></v-date-picker>
                          </v-menu>
                        </div>
                        <v-btn style="margin-left:0;" dark :color="$vuetify.theme.lightGreen" small depressed @click="addToFilterChain">Add To Filter Chain</v-btn>
                        <div style="color:#ff0000; font-size:10pt;" v-if="filterError">{{filterErrorMessage}}</div>
                        <v-select v-model="exportIncluded" multiple :color="$vuetify.theme.lightGreen" label="Select Fields To Export" :items="dbKeys">
                          <template v-slot:prepend-item>
                            <v-list-tile ripple @click="toggle">
                              <v-list-tile-action>
                                <i :class="icon" :style="'font-size:15pt;color:' + $vuetify.theme.lightGreen + ';'"></i>
                              </v-list-tile-action>
                              <v-list-tile-content>
                                <v-list-tile-title>Select All</v-list-tile-title>
                              </v-list-tile-content>
                            </v-list-tile>
                            <v-divider class="mt-2"></v-divider>
                          </template>
                        </v-select>
                      
                        
                        
                <div :class="$style.filterChain" v-for="(filter, i) in filterChain" :key="i">{{filter.name.replace(/_/g, ' ')}}</div><br>
                <v-btn dark small :color="$vuetify.theme.lightGreen" style="margin:0; margin-top:15px" @click="confirmExport" depressed>Export</v-btn>
            </div>
            </v-tab-item>
            <v-tab-item :key="3">
              
            <div>
              <span style="margin-bottom:15px; display:block; color:#808080">Upcoming transfers:</span>
              <div style="border:solid 1px transparent; border-bottom:none; max-width:50%;">
              <div  v-for="(item,i) in allQues" :key="i">
                <div style="display: flex; align-items: center;  border-bottom:solid 1px #aeaeae;">
                  <div style="font-size:15pt;  padding:3px;">{{moment(item.transfer_date).format('MM/DD/YYYY')}}</div>
                  <div @click="getFutureQue(item.transfer_date), convertDate(item.transfer_date) " style=" padding-right:10px;margin-left:auto; font-size:12pt; color:#1f78c0; cursor: pointer;">{{item.ids.length}} Records</div>
                </div>
                
              </div>
            </div>
            </div>
            <div style="padding:15px 0px; margin-top:15px; font-size: 15pt;">Transfering to Debtor Search on: <b>{{moment(transferDate).format('MM/DD/YYYY')}}</b> 
              <v-menu
              :color="$vuetify.theme.lightGreen"
              v-model="pickerOpen"
              :close-on-content-click="false"
              :nudge-right="40"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <span v-on="on"  :class="$style.changeDate">change</span>
                
              </template>
              <v-date-picker
                :allowed-dates="allowedDates"
                :color="$vuetify.theme.lightGreen"
                v-model="transferDate"
                light
                @input="pickerOpen = false, updateQue(transferDate)"
              ></v-date-picker>
            </v-menu>
          </div>
              <v-client-table
                  
                  :perPage="25"
                  :data="futureClients"
                  :columns="futureColumns"
                  :options="{
                    perPage: 25
                  }"
                >
                  <div slot="_id" slot-scope="{row}"><a style="color:#1f78c0" @click="$router.push('/collection/clients/' + row._id)">View</a></div>
              </v-client-table>
            </v-tab-item>
        </v-tabs-items>
        
    </div>

</div>