<div :class="$style.container" style="position:relative;">
    <transition enter-active-class="fadeInUp" leave-active-class="fadeOut">
            <div v-if="!isLoaded" class="loaderContainer animated-fast"><img src="@/img/double_loader.svg" alt=""></div>
    </transition>
    <div>
        <div :class="$style.name">List of database keys for debtors</div>
    </div>
    <div :class="$style.keyContainer">
        <div v-for="(item,i) in keys" :key="i" :class="$style.keyItem">{{item}}</div>
    </div>
</div>