<div class="inner-stage">

        <div :class="$style.formContainer">
            <div :class="$style.formTitle">Add Client Form</div>
            <v-form ref="form" v-model="valid" lazy-validation>
                <!--Basic Information-->
                <div :class="$style.container2">
                        <div :class="$style.containerTitle">Basic Information</div>
                        <div :class="$style.container">
                                <div v-for="(key, i) in basicInfo" :key="i" :style="{ maxWidth:getWidth(key)}" :class="$style.textField">
                                    <v-select v-if="key == 'status'" :color="$vuetify.theme.lightGreen" :label="humanize(key)" v-model="model[key]" :items="['Attorney Notice','Bankruptcy','CRA','CRA Request','Cease and Desist','Chargeback','Deceased','Dispute','New Notice Request','Owed','Paid In Full','Declined Charge','Payment Plan','Verified','Payment Plan/CRA']" ></v-select>
                                    <v-select v-else-if="key == 'returned_mail'" value="Yes" :color="$vuetify.theme.lightGreen" :label="humanize(key)" v-model="model[key]" :items="['Yes','No']" ></v-select>
                                    <v-text-field v-else :mask="getMask(key)" :color="$vuetify.theme.lightGreen" v-model="model[key]" v-validate="getRequired(key)"
                                        :error-messages="errors.collect(key)" :label="humanize(key)" :data-vv-name="key" required>
                                    </v-text-field>
                                </div>
                            </div>
                </div>
                <div style="margin-bottom:50px;">
                        <div :class="$style.containerTitle">Payment Information</div>
                        <div :class="$style.container">
                                <div v-for="(key, i) in creditCardInfo" :key="i" :style="{ maxWidth:getWidth(key)}" :class="$style.textField">
                                    
                                    <v-select v-if="key == 'credit_card_type'" value="Visa" :color="$vuetify.theme.lightGreen" :label="humanize(key)" v-model="model[key]" :items="['Visa','MasterCard','AMEX','Discover']" ></v-select>
                                    
                                    <v-text-field v-else :mask="getMask(key)" :color="$vuetify.theme.lightGreen" v-model="model[key]" v-validate="getRequired(key)"
                                        :error-messages="errors.collect(key)" :label="humanize(key)" :data-vv-name="key" required>
                                    </v-text-field>
                                </div>
                            </div>
                </div>
                <div :class="$style.container2">
                        <div :class="$style.containerTitle">Account Information</div>
                        <div :class="$style.container">
                                <div v-for="(key, i) in accountInfo" :key="i" :style="{ maxWidth:getWidth(key)}" :class="$style.textField">
                                    <v-text-field :mask="getMask(key)" :color="$vuetify.theme.lightGreen" v-model="model[key]" v-validate="getRequired(key)"
                                        :error-messages="errors.collect(key)" :label="humanize(key)" :data-vv-name="key" required>
                                    </v-text-field>
                                </div>
                            </div>
                </div>
                <v-btn @click="submit" align-right dark :color="$vuetify.theme.lightGreen">Save</v-btn>
            </v-form>
        </div>
    
</div>